<div class="container">
  <div class="jobdetail">
    <div class="company flex">
      <div class="image">
        <img src='{{jobHere.company_logo}}' alt="">
      </div>
      <div class="details">
        <h2>{{jobHere.company}}</h2>
        <h3>{{jobHere.location}}</h3>
      </div>
      <a href={{jobHere.company_url}}  target="_blank" class="companySite" type="button">Company Site</a>
    </div>
    <div class="job">
      <div class="header flex">
        <div class="timing">
          <span>5h ago .</span>
          <span>Full Time</span>
          <h3>Senior Software Engineer</h3>
          <p>Remote, Seoule, Tokyo, Mountain View San Fransisco</p>
        </div>

        <button class="blueBtn" type="button">Apply Now</button>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi perspiciatis quidem, obcaecati accusamus ea sapiente possimus et itaque praesentium? Nostrum culpa temporibus nobis qui provident accusamus animi inventore facere laborum ipsam similique, magnam fuga aliquam tenetur asperiores! Perferendis ex dolorum perspiciatis nam doloremque quasi! Voluptatem quos earum porro! Minus, ipsam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis ratione officiis minima expedita totam eum dolorum excepturi unde cumque voluptates iusto, voluptate repellat voluptas delectus mollitia at tempora tempore incidunt dicta modi nobis possimus repellendus! Earum praesentium officiis ex accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officia quidem beatae perferendis sapiente qui, odio esse maxime corporis numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error laudantium recusandae veniam officia alias provident nisi totam, fugiat odit vel aspernatur non delectus velit architecto natus quasi quidem quas ut quis nam iste! Ex nam, labore mollitia, voluptatum laboriosam atque earum voluptate quasi, sunt facere quas iusto tempora ad rem corrupti? Corporis, aperiam consequuntur enim labore pariatur, quo autem voluptatum distinctio, praesentium debitis delectus numquam placeat minus fugit? Vel ad, totam vitae accusamus dolorem illum fugiat omnis sed optio quo doloribus repellat fuga eius assumenda! Vel, natus ratione molestiae cum quas perspiciatis distinctio, suscipit architecto non voluptates aspernatur qui.</p>
      </div>
      <div class="apply">
        <h2>How to Apply</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolorum perspiciatis laudantium suscipit nostrum officiis perferendis adipisci repellendus sequi dolores quod nam, saepe possimus voluptatum neque expedita, reiciendis ea numquam?</p>
        <span>rajatsrivastava.com</span>
      </div>
    </div>
  </div>
</div>

<div class="applynow ">
  <div class="footer flex">
    <div class="details">
      <h2>Publicis Sapient</h2>
      <h3>Some other detail</h3>
    </div>
    <button class="blueBtn" type="button">Apply Now</button>
  </div>

</div>
