
.jobs {
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
    align-items: center;
  app-job-card {
    margin-top: 3rem;
    justify-self: center;
  }
}

button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;
  margin-top: 2rem;
  border: none;
  width: 150px;
  color: white;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
  filter: brightness(80%);
  background: #1AA88F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #1AA88F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #1AA88F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:hover {
  filter: brightness(70%);
}

button:active,
button:focus {
  outline: none;
}
