<div class="filter flex">
  <div class="title flex boundary">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input  [(ngModel)]="title" type="text" placeholder="Filter by title, companies...">
  </div>
  <div class="location flex boundary">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <input  [(ngModel)]="location" type="text" placeholder="Filter by location">
  </div>
<div class="checkbox flex">
  <input [(ngModel)]="fulltime" type="checkbox" name="Only Full time" id="fulltime">
  <label   for="fulltime">Full Time Only</label>
</div>
<button (click)="SearchJobs()" class="blueBtn" type="button">Search</button>
</div>
