.filter {
  margin: 0 auto;
  border-radius: 10px;
  color: #979db0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;

  input {
    padding: 1rem;
  }
  input[type="text"] {
    width: 200px;
    margin-right: 10px;
    border: none;
    font-size: 1rem;
    color: #979db0;
    font-family: 'Poppins', sans-serif;
    background: transparent;

  }

  i {
    color: #667db6;
  }

  input[type="text"]:focus {
    border: none;
    outline: none;

  }
}

.checkbox {
  cursor: pointer;
  justify-content: flex-start;
  input {
    padding: 1rem;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  label {
    margin-right: 20px;
    color: #979db0;
    cursor: pointer;
  }
}

@media screen and (max-width:1100px)
{
  .filter {
    width: 90%;
    input[type="text"] {
      width: 140px;
      margin-right: 6px;
      font-size: .8rem;
    }
    .checkbox {
      font-size: .8rem;
    }
    .blueBtn, .clearBtn {
      font-size: .8rem;
      width: 80px;
      padding: 0.4rem 1rem;
    }
  }
}

@media screen and (max-width:800px)
{
  .filter {
    width: 100%;
   display: grid;
   justify-content: center;
   grid-template-columns: 1fr 1fr;

    input[type="text"] {
      width: 100px;
      font-size: .7rem;
    }
    .checkbox {
      font-size: .7rem;
      input {
        margin-right: 5;
      }
      label {
        margin-right: 0;

      }
    }
    .blueBtn, .clearBtn {
      font-size: .7rem;
      display: inline-block;
      justify-self: center;
      width: 80px;
      padding: 0.4rem 1rem;
    }
  }
}

