.jobcard {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 20rem;
  height: 21rem;
  background-color: #1d1f26;
  border-radius: 5%;
    position: relative;
  transition: all 0.2s ease-in;
  color: #979db0;
  cursor: pointer;
  img {
    max-width: 6rem;
    max-height: 6rem;
    min-width: 6rem;
    min-height: 6rem;
    position: relative;
    object-fit: contain;
    border-radius: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 2;
    border: 8px solid whitesmoke;
    background-color: whitesmoke;
  }
  h3,
  h4,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    color:#1AA88F;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 0.9rem;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #979db0;
  }

  span {
    font-size: 0.6rem;
    color: #979db0;
  }

  .type {
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
     margin-top: 0.5rem;
    justify-self: end;
    position: absolute;
    right: 2%;
  }

  .remote {
    background: #ef6461;
    color: white;
  }

  .full {
    background-color: #16171c;
    color: white;
  }
}


.jobcard:hover{
  transform: translateY(-3%);
}
