.navbar {
  width: 100%;
  //background: url(../../assets/Cornered-Stairs.svg);
  background: #070709;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





  .header {
    display: flex;
    height: 80px;
    align-items: center;
    h2 {
      color: #1AA88F;
      font-weight: 500;
      cursor: pointer;
    }
  }
}


.dashboard {

  background-color: #16171c;

  .content {
    min-height: auto;
    width: 100%;
    padding-top: 2rem;
  }

}




